################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/test_udp_multicast/v16
/Debug
/test_udp_multicast/Debug
/test_udp_multicast/.opencppcov/test_udp_multicast
/test_udp_multicast/x64/Debug
/test_udp_multicast/LastCoverageResults.log
/x64/Debug
